<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060835797994-d8ffn8pcjku7f7fmvq1ni698umogh1vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060835797994-d8ffn8pcjku7f7fmvq1ni698umogh1vo</string>
	<key>API_KEY</key>
	<string>AIzaSyC9QmKSPU1cJJw3QTKG4J3X2_wFjlcMVBA</string>
	<key>GCM_SENDER_ID</key>
	<string>1060835797994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ftest</string>
	<key>PROJECT_ID</key>
	<string>xactitude-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>xactitude-attendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060835797994:ios:26b6bdc7604e436b622093</string>
</dict>
</plist>